# Coolify'da PostgREST servisine bu env var'ları ekle
PGRST_DB_URI=postgres://agentcompany:<PASSWORD>@<DB_HOST>:5432/agentcompany
PGRST_DB_SCHEMA=public
PGRST_DB_ANON_ROLE=anon
PGRST_SERVER_PORT=3000
# JWT_SECRET boş bırakılırsa auth header'ı ignore edilir
PGRST_JWT_SECRET=
